# 5. Sequences: Lists and Tuples

### Objectives 
In this chapter, you’ll:
* Create and initialize lists and tuples.
* Refer to elements of lists, tuples and strings.
* Sort and search lists, and search tuples. 
* Pass lists and tuples to functions and methods.

### Objectives (cont.)
* Use list methods to perform common manipulations, such as searching for items, sorting a list, inserting items and removing items.
* Use additional Python functional-style programming capabilities, including lambdas and the operations filter, map and reduce.

### Objectives (cont.)
* Use functional-style list comprehensions to create lists quickly and easily, and use generator expressions to generate values on demand.
* Use two-dimensional lists.
* Enhance your analysis and presentation skills with the Seaborn and Matplotlib visualization libraries.

# 5.1 Introduction
* **Collections** are prepackaged data structures consisting of related data items. 
* Examples of collections:
    * Favorite songs on your smartphone
    * Contacts list
    * A library’s books
    * Cards in a card game
    * Favorite sports team’s players
    * Stocks in an investment portfolio
    * Patients in a cancer study 
    * Shopping list. 
* Lists (which are modifiable) and tuples (which are not) have many common capabilities. 
* Each can hold items of the same or different types. 
* Lists can **dynamically resize** as necessary.
* The Intro to Data Science section uses the visualization libraries Seaborn and Matplotlib to interactively develop static bar charts containing the die frequencies.

# 5.2 Lists
* Many of the capabilities shown in this section apply to all sequence types.

### Creating a List
* **Lists** typically store **homogeneous data**, but may store **heterogeneous data**.

In [ ]:
c = [-45, 6, 0, 72, 1543]

In [ ]:
c

### Accessing Elements of a List
* Reference a list element by writing the list’s name followed by the element’s **index** enclosed in `[]` (the **subscription operator**).

![Diagram of a list named c labeled with its element names](ch05images/AAEMYRO0.png "Diagram of a list named c labeled with its element names")

In [ ]:
c[0]

In [ ]:
c[4]

### Determining a List’s Length

In [ ]:
len(c)

### Accessing Elements from the End of the List with Negative Indices
* Lists can be accessed from the end by using _negative indices_:
![Diagram of the list c labeled with its negative indices](ch05images/AAEMYRO0_2.png "Diagram of the list c labeled with its negative indices")

In [ ]:
c[-1]

In [ ]:
c[-5]

### Indices Must Be Integers or Integer Expressions

In [ ]:
a = 1

In [ ]:
b = 2

In [ ]:
c[a + b]

### Lists Are Mutable

In [ ]:
c[4] = 17

In [ ]:
c

### Some Sequences Are Immutable
* Python’s string and tuple sequences are immutable.

In [ ]:
s = 'hello'

In [ ]:
s[0]

In [ ]:
s[0] = 'H'

### Attempting to Access a Nonexistent Element
* Index values must be in range.

In [ ]:
c[100]

### Using List Elements in Expressions

In [ ]:
c[0] + c[1] + c[2]

### Appending to a List with +=
* Lists can grow dynamically to accommodate new items.

In [ ]:
a_list = []

In [ ]:
for number in range(1, 6):
    a_list += [number]

In [ ]:
a_list

* When the left operand of `+=` is a list, the right operand must be an _iterable_; otherwise, a `TypeError` occurs.

In [ ]:
letters = []

In [ ]:
letters += 'Python'

In [ ]:
letters

### Concatenating Lists with +
* Can **concatenate** two lists, two tuples or two strings using `+` to create a _new_ sequence of the same type.

In [ ]:
list1 = [10, 20, 30]

In [ ]:
list2 = [40, 50]

In [ ]:
concatenated_list = list1 + list2

In [ ]:
concatenated_list

### Using `for` and `range` to Access List Indices and Values

In [ ]:
for i in range(len(concatenated_list)):  
    print(f'{i}: {concatenated_list[i]}')

* We’ll show a safer way to access element indices and values using built-in function `enumerate`.

### Comparison Operators
* Can compare entire lists element-by-element.

In [ ]:
a = [1, 2, 3]

In [ ]:
b = [1, 2, 3]

In [ ]:
c = [1, 2, 3, 4]

In [ ]:
a == b

In [ ]:
a == c

In [ ]:
a < c

In [ ]:
c >= b

# 5.3 Tuples

### Creating Tuples
* To create an empty tuple, use empty parentheses.

In [ ]:
student_tuple = ()

In [ ]:
student_tuple

In [ ]:
len(student_tuple)

* Pack a tuple by separating its values with commas.

In [ ]:
student_tuple = 'John', 'Green', 3.3

In [ ]:
student_tuple

In [ ]:
len(student_tuple)

* When you output a tuple, Python always displays its contents in parentheses.
* Parentheses are optional when creating a tuple.

In [ ]:
another_student_tuple = ('Mary', 'Red', 3.3)

In [ ]:
another_student_tuple

* A comma is required to create a one-element tuple.

In [ ]:
a_singleton_tuple = ('red',)  # note the comma

In [ ]:
a_singleton_tuple

### Accessing Tuple Elements
* You generally access tuple elements directly rather than iterating over them.

In [ ]:
time_tuple = (9, 16, 1)

In [ ]:
time_tuple

In [ ]:
time_tuple[0] * 3600 + time_tuple[1] * 60 + time_tuple[2]

### Adding Items to a String or Tuple
* `+=` can be used with strings and tuples, even though they’re _immutable_. 
* Creates new objects.

In [ ]:
tuple1 = (10, 20, 30)

In [ ]:
tuple2 = tuple1

In [ ]:
tuple2

In [ ]:
tuple1 += (40, 50)

In [ ]:
tuple1

In [ ]:
tuple2

 

### Appending Tuples to Lists

In [ ]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
numbers += (6, 7)

In [ ]:
numbers

   

### Tuples May Contain Mutable Objects

In [ ]:
student_tuple = ('Amanda', 'Blue', [98, 75, 87])

In [ ]:
student_tuple[2][1] = 85

In [ ]:
student_tuple

# 5.4 Unpacking Sequences
* Can unpack any sequence’s elements by assigning the sequence to a comma-separated list of variables (of the appropriate length).

In [ ]:
student_tuple = ('Amanda', [98, 85, 87])

In [ ]:
first_name, grades = student_tuple

In [ ]:
first_name

In [ ]:
grades

In [ ]:
first, second = 'hi'

In [ ]:
print(f'{first}  {second}')

In [ ]:
number1, number2, number3 = [2, 3, 5]

In [ ]:
print(f'{number1}  {number2}  {number3}')

In [ ]:
number1, number2, number3 = range(10, 40, 10)

In [ ]:
print(f'{number1}  {number2}  {number3}')

### Swapping Values Via Packing and Unpacking

In [ ]:
number1 = 99

In [ ]:
number2 = 22

In [ ]:
number1, number2 = (number2, number1)

In [ ]:
print(f'number1 = {number1}; number2 = {number2}')

### Accessing Indices and Values Safely with Built-in Function enumerate
* Preferred way to access an element’s index _and_ value is the built-in function **`enumerate`**. 
* Receives an iterable and creates an iterator that, for each element, returns a tuple containing the element’s index and value.
* Built-in function **`list`** creates a list from a sequence.

In [ ]:
colors = ['red', 'orange', 'yellow']

In [ ]:
list(enumerate(colors))

* Built-in function **`tuple`** creates a tuple from a sequence.

In [ ]:
tuple(enumerate(colors))

In [ ]:
for index, value in enumerate(colors):
    print(f'{index}: {value}')

### Creating a Primitive Bar Chart

```python
# fig05_01.py
"""Displaying a bar chart"""
numbers = [19, 3, 15, 7, 11]

print('\nCreating a bar chart from numbers:')
print(f'Index{"Value":>8}   Bar')

for index, value in enumerate(numbers):
    print(f'{index:>5}{value:>8}   {"*" * value}')
```

In [ ]:
run fig05_01.py

* The expression ```python
"*" * value
```
creates a string consisting of `value` asterisks. 
* When used with a sequence, the multiplication operator (`*`) _repeats_ the sequence.

# 5.5 Sequence Slicing
* Can **slice** sequences to create new sequences of the same type containing _subsets_ of the original elements. 
* Slice operations that do _not_ modify a sequence work identically for lists, tuples and strings.

### Specifying a Slice with Starting and Ending Indices

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
numbers[2:6]

### Specifying a Slice with Only an Ending Index
* Starting index `0` is assumed.

In [ ]:
numbers[:6]

In [ ]:
numbers[0:6]

### Specifying a Slice with Only a Starting Index
* Assumes the sequence's length as the ending index.

In [ ]:
numbers[6:]

In [ ]:
numbers[6:len(numbers)]

### Specifying a Slice with No Indices

In [ ]:
numbers[:]

* Though slices create new objects, slices make **shallow copies** of the elements.
* In the snippet above, the new list’s elements refer to the _same objects_ as the original list’s elements.

### Slicing with Steps

In [ ]:
numbers[::2]

### Slicing with Negative Indices and Steps

In [ ]:
numbers[::-1]

In [ ]:
numbers[-1:-9:-1]

### Modifying Lists Via Slices
* Can modify a list by assigning to a slice.

In [ ]:
numbers[0:3] = ['two', 'three', 'five']

In [ ]:
numbers

In [ ]:
numbers[0:3] = []

In [ ]:
numbers

In [ ]:
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
numbers[::2] = [100, 100, 100, 100]

In [ ]:
numbers

In [ ]:
id(numbers)

In [ ]:
numbers[:] = []

In [ ]:
numbers

In [ ]:
id(numbers)

* Deleting `numbers`’ contents is different from assigning `numbers` a _new_ empty list `[]`. 
* Identities are different, so they represent separate objects in memory.

In [ ]:
numbers = []

In [ ]:
numbers

In [ ]:
id(numbers)

* When you assign a new object to a variable, the original object will be **garbage collected** if no other variables refer to it.

# 5.6 del Statement

### Deleting the Element at a Specific List Index

In [ ]:
numbers = list(range(0, 10))

In [ ]:
numbers

In [ ]:
del numbers[-1]

In [ ]:
numbers

### Deleting a Slice from a List

In [ ]:
del numbers[0:2]

In [ ]:
numbers

In [ ]:
del numbers[::2]

In [ ]:
numbers

### Deleting a Slice Representing the Entire List

In [ ]:
del numbers[:]

In [ ]:
numbers

### Deleting a Variable from the Current Session

In [ ]:
del numbers

In [ ]:
numbers

# 5.7 Passing Lists to Functions

### Passing an Entire List to a Function

In [ ]:
def modify_elements(items):
    """"Multiplies all element values in items by 2."""
    for i in range(len(items)):
        items[i] *= 2

In [ ]:
numbers = [10, 3, 7, 1, 9]

In [ ]:
modify_elements(numbers)

In [ ]:
numbers

### Passing a Tuple to a Function
* When you pass a tuple to a function, attempting to modify the tuple’s immutable elements results in a `TypeError`.

In [ ]:
numbers_tuple = (10, 20, 30)

In [ ]:
numbers_tuple

In [ ]:
modify_elements(numbers_tuple)

### A Note Regarding Tracebacks
* A traceback shows code that led to an exception.
* When an exception occurs in a single-line snippet, it’s always preceded by `----> 1`, indicating that line 1 (the snippet’s only line) caused the exception. 
* Multiline snippets like a function definition show consecutive line numbers starting at 1. 
* The last line of code shown with `---->` caused the exception.

# 5.8 Sorting Lists

### Sorting a List in Ascending Order
* List method `sort` _modifies_ a list.

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [ ]:
numbers.sort()

In [ ]:
numbers

### Sorting a List in Descending Order

In [ ]:
numbers.sort(reverse=True)

In [ ]:
numbers

### Built-In Function `sorted`
* Built-in function **`sorted`** _returns a new list_ containing the sorted elements of its argument _sequence_—the original sequence is _unmodified_.

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [ ]:
ascending_numbers = sorted(numbers)

In [ ]:
ascending_numbers

In [ ]:
numbers

In [ ]:
letters = 'fadgchjebi'

In [ ]:
ascending_letters = sorted(letters)

In [ ]:
ascending_letters

In [ ]:
letters

In [ ]:
colors = ('red', 'orange', 'yellow', 'green', 'blue')

In [ ]:
ascending_colors = sorted(colors)

In [ ]:
ascending_colors

In [ ]:
colors

# 5.9 Searching Sequences
* **Searching** is the process of locating a particular **key** value.

### List Method index
* Searches through a list from index 0 and returns the index of the _first_ element that matches the search key.
* `ValueError` if the value is not in the list.

In [ ]:
numbers = [3, 7, 1, 4, 2, 8, 5, 6]

In [ ]:
numbers.index(5)

### Specifying the Starting Index of a Search

In [ ]:
numbers *= 2

In [ ]:
numbers

In [ ]:
numbers.index(5, 7)

### Specifying the Starting and Ending Indices of a Search
* Look for the value `7` in the range of elements with indices `0` through `3`.

In [ ]:
numbers.index(7, 0, 4)

### Operators `in` and `not in`
* Operator `in` tests whether its right operand’s iterable contains the left operand’s value.

In [ ]:
1000 in numbers

In [ ]:
5 in numbers

* Operator `not in` tests whether its right operand’s iterable does _not_ contain the left operand’s value.

In [ ]:
1000 not in numbers

In [ ]:
5 not in numbers

### Using Operator `in` to Prevent a `ValueError`

In [ ]:
key = 1000

In [ ]:
if key in numbers:
    print(f'found {key} at index {numbers.index(search_key)}')
else:
    print(f'{key} not found')

### Built-In Functions `any` and `all` 
* Built-in function **`any`** returns `True` if any item in its iterable argument is `True`. 
* Built-in function **`all`** returns `True` if all items in its iterable argument are `True`. 
* Nonzero values are `True` and 0 is `False`. 
* Non-empty iterable objects also evaluate to `True`, whereas any empty iterable evaluates to `False`.
* Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.

In [ ]:
mylist = [1,2,0,9,100]
any(mylist)

In [ ]:
all(mylist)

# 5.10 Other List Methods

In [ ]:
color_names = ['orange', 'yellow', 'green']

### Inserting an Element at a Specific List Index

In [ ]:
color_names.insert(0, 'red')

In [ ]:
color_names

### Adding an Element to the End of a List

In [ ]:
color_names.append('blue')

In [ ]:
color_names

### Adding All the Elements of a Sequence to the End of a List
* Equivalent to `+=`.

In [ ]:
color_names.extend(['indigo', 'violet'])

In [ ]:
color_names

In [ ]:
sample_list = []

In [ ]:
s = 'abc'

In [ ]:
sample_list.extend(s)

In [ ]:
sample_list

In [ ]:
t = (1, 2, 3)

In [ ]:
sample_list.extend(t)

In [ ]:
sample_list

* Parentheses are required for the tuple argument below, because `extend` expects **one iterable argument**.

In [ ]:
sample_list.extend((4, 5, 6))  # note the extra parentheses

In [ ]:
sample_list

### Removing the First Occurrence of an Element in a List 
* `ValueError` occurs if `remove`’s argument is not in the list.

In [ ]:
color_names.remove('green')

In [ ]:
color_names

### Emptying a List

In [ ]:
color_names.clear()

In [ ]:
color_names

### Counting the Number of Occurrences of an Item

In [ ]:
responses = [1, 2, 5, 4, 3, 5, 2, 1, 3, 3, 
             1, 4, 3, 3, 3, 2, 3, 3, 2, 2]

In [ ]:
for i in range(1, 6):
    print(f'{i} appears {responses.count(i)} times in responses')

### Reversing a List’s Elements
* Method **`reverse`** reverses the contents of a list in place.

In [ ]:
color_names = ['red', 'orange', 'yellow', 'green', 'blue']

In [ ]:
color_names.reverse()

In [ ]:
color_names

### Copying a List
* Method `copy` returns a _new_ list containing a _shallow_ copy.

In [ ]:
copied_list = color_names.copy()

In [ ]:
copied_list

# 5.11 Simulating Stacks with Lists 
* Python does not have a built-in stack type.
* Can think of a stack as a constrained list. 
* _Push_ using list method `append`. 
* _Pop_ using list method **`pop`** with no arguments to get items in last-in, first-out (LIFO) order.

In [ ]:
stack = []

In [ ]:
stack.append('red')

In [ ]:
stack

In [ ]:
stack.append('green')

In [ ]:
stack

In [ ]:
stack.pop()

In [ ]:
stack

In [ ]:
stack.pop()

In [ ]:
stack

In [ ]:
stack.pop()

* Also can use a list to simulate a **queue**.
* Items are retrieved from queues in **first-in, first-out (FIFO) order**.

# 5.12 List Comprehensions
* Concise way to create new lists. 
* Replaces using `for` to iterate over a sequence and create a list.

In [ ]:
list1 = []

In [ ]:
for item in range(1, 6):
    list1.append(item)

In [ ]:
list1

### Using a List Comprehension to Create a List of Integers

In [ ]:
list2 = [item for item in range(1, 6)]

In [ ]:
list2

* **`for` clause** iterates over the sequence produced by `range(1, 6)`. 
* For each `item`, the list comprehension evaluates the expression to the left of the `for` clause and places the expression’s value in the new list.

### Mapping: Performing Operations in a List Comprehension’s Expression
* Mapping is a common functional-style programming operation that produces a result with the _same_ number of elements as the original data being mapped.

In [ ]:
list3 = [item ** 3 for item in range(1, 6)]

In [ ]:
list3

### Filtering: List Comprehensions with `if` Clauses 
* Another common functional-style programming operation is **filtering** elements to select only those that match a condition. 
* Typically produces a list with _fewer_ elements than the data being filtered.

In [ ]:
list4 = [item for item in range(1, 11) if item % 2 == 0]

In [ ]:
list4

### List Comprehension That Processes Another List’s Elements 
* The `for` clause can process any iterable.

In [ ]:
colors = ['red', 'orange', 'yellow', 'green', 'blue']

In [ ]:
colors2 = [item.upper() for item in colors]

In [ ]:
colors2

In [ ]:
colors

# 5.13 Generator Expressions
* Like list comprehensions, but create iterable **generator objects** that produce values **on demand**. 
* Known as **lazy evaluation**. 
* For large numbers of items, creating lists can take substantial memory and time. 
* **Generator expressions** can reduce memory consumption and improve performance if the whole list is not needed at once.

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [ ]:
for value in (x ** 2 for x in numbers if x % 2 != 0):
    print(value, end='  ')

In [ ]:
squares_of_odds = (x ** 2 for x in numbers if x % 2 != 0)

In [ ]:
squares_of_odds

* Output indicates that `square_of_odds` is a **generator object** that was created from a **generator expression (`<genexpr>`)**.
* **Built-in function `next`** receives a generator or iterator and returns the next item.

In [ ]:
#execute this cell multiple times .. see what happens!
next(squares_of_odds)

In [ ]:
def is_prime(num):
    assert num > 1  # technically 1 is not prime

    for i in range(2, int(num/2)+1):
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            return False
    return True

In [ ]:
is_prime(57)

In [ ]:
# function to generate a list of primes

def gen_list_of_primes(max):
    
    prime_list = []
    
    for num in range(2,max):
        if is_prime(num):
            prime_list.append(num)
        
    return prime_list

In [ ]:
# let's do some timing
import time
num = 100000

tic = time.perf_counter()

p_list = gen_list_of_primes(num)

toc = time.perf_counter()

print(f"Primes to {num} computed in  {toc - tic:0.4f} seconds")
#print (p_list)

# Let's see how fast a Generator can do it

In [ ]:
tic = time.perf_counter()
p_list2 = (x for x in range(2,num) if is_prime(x))
toc = time.perf_counter()

print(f"Primes to {num} computed by GENERATOR in  {toc - tic:0.4f} seconds")

In [ ]:
for n in p_list2:
    print (next(p_list2))
    if n > 100:
        break

# 5.14 Filter, Map and Reduce 
* Built-in `filter` and `map` functions also perform filtering and mapping.

### Filtering a Sequence’s Values with the Built-In `filter` Function

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [ ]:
def is_odd(x):
    """Returns True only if x is odd."""
    return x % 2 != 0

In [ ]:
list(filter(is_odd, numbers))

* Functions are objects that you can assign to variables, pass to other functions and return from functions. 
* Functions that receive other functions as arguments are a functional-style capability called **higher-order functions**. 
* `filter`’s first argument must be a function that receives one argument and returns `True` if the value should be included in the result. 
* Higher-order functions may also return a function as a result.
* `filter` returns an iterator, so `filter`’s results are not produced until you iterate through them&mdash;lazy evaluation.

In [ ]:
[item for item in numbers if is_odd(item)]

### Using a `lambda` Rather than a Function 
* For simple functions like `is_odd` that `return` only a _single expression’s value_, you can use a **lambda expression** (or simply a **lambda**) to define the function inline.

In [ ]:
list(filter(lambda x: x % 2 != 0, numbers))

* A lambda expression is an _anonymous function
* Begins with the **`lambda`** keyword followed by a comma-separated parameter list, a colon (`:`) and an expression. 
* A `lambda` _implicitly_ returns its expression’s value.

### Mapping a Sequence’s Values to New Values

In [ ]:
numbers

In [ ]:
list(map(lambda x: x ** 2, numbers))

* Function `map`’s first argument is a function that receives one value and returns a new value.
* equivalent list comprehension:

In [ ]:
[item ** 2 for item in numbers]

### Combining `filter` and `map`

In [ ]:
list(map(lambda x: x ** 2, 
         filter(lambda x: x % 2 != 0, numbers)))

* Equivalent list comprehension:

In [ ]:
[x ** 2 for x in numbers if x % 2 != 0]

### Reduction: Totaling the Elements of a Sequence with `sum` 
* Reductions process a sequence’s elements into a single value. 
    * E.g., `len`, `sum`, `min` and `max`. 
* Can create custom reductions using the [`functools` module](https://docs.python.org/3/library/functools.html)’s `reduce` function.

# 5.15 Other Sequence Processing Functions

### Finding the Minimum and Maximum Values Using a Key Function

In [ ]:
'Red' < 'orange'

* `'R'` “comes after” `'o'` in the alphabet, so you might expect `'Red'` to be less than `'orange'` and the condition above to be `False`. 
* Strings are compared by their characters’ underlying _numerical values_, and lowercase letters have _higher_ numerical values than uppercase letters. 
* Confirm with built-in function **`ord`**:

In [ ]:
ord('R')

In [ ]:
ord('o')

In [ ]:
colors = ['Red', 'orange', 'Yellow', 'green', 'Blue']

* Assume that we’d like to determine the minimum and maximum strings using _alphabetical_ order.
* Can specify sort order with the `key` argument.

In [ ]:
min(colors, key=lambda s: s.lower())

In [ ]:
max(colors, key=lambda s: s.lower())

### Iterating Backwards Through a Sequence

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

In [ ]:
reversed_numbers = [item ** 2 for item in reversed(numbers)]

In [ ]:
reversed_numbers

### Combining Iterables into Tuples of Corresponding Elements
* Built-in function **`zip`** enables you to iterate over _multiple_ iterables of data at the _same_ time. 
* Receives any number of iterables and returns an iterator that produces tuples containing the elements at the same index in each.

In [ ]:
names = ['Bob', 'Sue', 'Amanda']

In [ ]:
grade_point_averages = [3.5, 4.0, 3.75]

In [ ]:
for name, gpa in zip(names, grade_point_averages):
    print(f'Name={name}; GPA={gpa}')

* Shortest argument determines the number of tuples produced.

# 5.16 Two-Dimensional Lists
* Lists can contain other lists as elements. 
* Typical use is to represent **tables** of values consisting of information arranged in **rows** and **columns**. 
* To identify a particular table element, we specify _two_ indices—the first identifies the element’s row, the second the element’s column.

### Creating a Two-Dimensional List

In [ ]:
a = [[77, 68, 86, 73], [96, 87, 89, 81], [70, 90, 86, 81]]

Writing the list as follows makes its row and column tabular structure clearer:

```python
a = [[77, 68, 86, 73],  # first student's grades
     [96, 87, 89, 81],  # second student's grades 
     [70, 90, 86, 81]]  # third student's grades
```

### Illustrating a Two-Dimensional List

![The two-dimensional list 'a' with its rows and columns of exam grade values](ch05images/AAHBDOV0_2.png "The two-dimensional list 'a' with its rows and columns of exam grade values")

### Identifying the Elements in a Two-Dimensional List

![The two-dimensional list 'a' labeled with the names of its elements](ch05images/AAHBDOV0.png "The two-dimensional list 'a' labeled with the names of its elements")

* Output the rows of the preceding two-dimensional list.

In [ ]:
for row in a:
    for item in row:
        print(item, end=' ')
    print()

### How the Nested Loops Execute

In [ ]:
for i, row in enumerate(a):
    for j, item in enumerate(row):
        print(f'a[{i}][{j}]={item} ', end=' ')
    print()

* Outer `for` statement iterates over the  list’s ows one row at a time. 
* During each iteration of the outer `for` statement, the inner `for` statement iterates over _each_ column in the current row.